mixin video(video)
  a(href=`/video/${video.id}`).videos-item
    video(src="/"+video.fileUrl  style="object-fit: cover")
    div.videos-item-data   
      span.videos-item-title=video.title
      div.videos-item-meta 
        span #{video.owner.name} |  
        span #{video.meta.views}회
    
    

