extends base.pug
include mixins/video.pug
block content
  h2.home-title Welcome! Here you can see the following videos: 
  div.videos
    each video in videos
      +video(video)
    else 
      span.videos-empty No Videos Found.
