extends base.pug
include mixins/video.pug
block content 
  form(method="get").search-form
    input(type="text" name="q" placeholder="Search by Title")
    input(type="submit" value="Search")
  br
  div.videos
    each video in videos
      +video(video)
    else 
      span.videos-empty=pageTitle