extends base.pug
include mixins/video.pug
block content 
  form(method="get")
    input(type="text" name="q" placeholder="Search by Title")
    input(type="submit" value="Search")
  br
  each video in videos
    +video(video)
  else 
    li Sorry, Nothing here